<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Opeartion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let resto of collection;'>
            <td scope="row">{{resto.id}}</td>
            <td scope="row">{{resto.name}}</td>
            <td scope="row">{{resto.email}}</td>
            <td scope="row">{{resto.address}}</td>
            <!-- <td (click) = "deleteResto(item.id)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
              </svg></td> -->
            <!-- <td scope="row">
                <i class="fa fa-trash" style="font-size:30px;color:red;"></i>
            </td> -->
            <td scope="row"><i (click) = "deleteResto(item.id)" class="fa fa-trash" style="color: red;" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>