<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Resto</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="list">List Resto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add">Add Resto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="update">Update Resto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register">Register Resto</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" routerLink="**">404</a> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="signup">Signup</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>